#airplane {
    background: url(../images/airplane-2.png);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 441px;
    height: 135px;
}

#man-jump {
    opacity: 0;
    background: url(../images/man-jump-2.png);
    position: absolute;
    top: 65px;
    right: 130;
    width: 117px;
    height: 80px;
    transform: scale(0.3, 0.3);
}